<?xml version="1.0" encoding="UTF-8" ?>
<phpunit 
	colors="true"
	stopOnFailure="false"
	bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="phalcon-php">
			<directory>phalcon-php/</directory>
		</testsuite>
		<!--<testsuite name="cphalcon">
			<directory>cphalcon/</directory>
		</testsuite>-->
	</testsuites>
</phpunit>