<?xml version="1.0" encoding="UTF-8" ?>
<phpunit 
	colors="true"
	stopOnFailure="false"
	stopOnError="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	verbose="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="phalcon-php">
			<directory>phalcon-php/</directory>
			</testsuite>
		<!--
		Disable cphalcon testsuite until everything is ported
		<testsuite name="cphalcon">
			<directory>cphalcon/</directory>
		</testsuite>
		-->
	</testsuites>
</phpunit>